body {
    background-color: lightblue;
}

h1 {
    font-size: 80px;
    color: black;
}

h2 {
    text-align: center;
    font-size: 50px;
}

footer {
    height: 70px;
    text-align: center;
}

.columnLeft{
    
    height: 160px;
    width: 65%;
    background-color: white;
}

.columnRight{
    float: left;
    height:160px;
    width: 35%;
}

.logo {
    float: left;
    font-size: 40px;
    vertical-align: middle;
}

.ticketTitleHeading {
    font-size: 25px;
}

/* 
Ticket row heights
*/
.ticket {
    display: block;
    background-color: white;
    float: left;
    width: 25%;
    height: 600px;
    text-align: center;
}
.ticketRow1 {
    height: 10%;
}
.ticketRow2 {
    
    height: 10%;
    
}

.ticketRow3 {
    height: 50%;
}
.ticketRow4 {
    height: 30%;
}
.ticketRow5 {
    height: 15%;
}


/* 
Ticket row heights
*/

.ticketPicture{
    height: inherit;
    width: inherit;
    object-fit: cover;
}
.ticketPictureSizer {
    height: inherit;
    width: inherit;
    object-fit: fill
}

/* 
https://www.w3schools.com/howto/howto_css_two_columns.asp
*/
/*

*/
.priceColumn {
    float: left;
    width: 50%;
}

.priceRow:after {
    content: "";
    display: table;
    clear: both;
    
}

.priceText {
    font-size: 20px;
}
/*---------------------------------*/

.ticketCart {
    background-color: lavenderblush;
    float: left;
    width: 25%;
    height: 160px;
}

.adultChildTicket{
    display: inline-block;
}

